*{
    margin:60px 0px;
    padding:10;
}

body{font-family:'Courier New', Courier, monospace;

background-color: #000000;
color: #ffffff;
}

h1{
    margin:50px 100px;
    font-size: 100px;
    text-align: center;
}

h2 {
    margin: 20px 50px 20px 100px;
    font-size: 29px;

}

h4 {
    margin: 50px 100px;
    font-size: 20px;
    text-align: center;
}

p {
    margin: 20px 20px 10px 100px;
    font-size:15px;
    line-height: 30px;
    width:500px;
}

.img {
    width:300px;
    margin: 20px 20px 100px 1100px;
}
