* {
    margin: 0;
    padding: 0;
}


.antonio-regular {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.antonio-bold {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}

.audio {
    position: absolute;
    top: 190px;
    left: 480px;
    width: 12%;
        height:3%;
}

body {
    background-color:rgb(12, 12, 65);

}

.disk {
    background-image: url("images/wte disk.png");
    scale: 1;
    height: 100px;
    width: 100px;
    background-size: contain;
    position: absolute;
    top: 160px;
    left: 590px;
    z-index: 996;
    border: 2px solid white;
    border-radius: 50%;
    animation: spin 4s linear infinite;
    transition: animation-duration 2s ease-in-out;
    

}


.disk:hover {
scale: 1.1;
animation-duration: 1s;
    cursor: pointer;
    

}

@keyframes spin {
    to {
        transform: rotate(360deg);
        
    }
}


.deco1 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10px;
    z-index: 995;
}


.deco2 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 10px;
    z-index: 995;
}

.titleandauthor {
    margin-left: 200px;
    position: absolute;
    margin-top: 200px;
    margin-bottom: 50px;
    

}


.song {
    margin-left: 900px;
    position: absolute;
    line-height: 80px;
    margin-top: 250px;
    

}


h2 {
    color: white;
    font-size: 120px;
}


h3 {
    color: white;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 30px;
}


h5 {
    color: rgba(3, 3, 30, 0.418);
    font-size: 20px;
    left: 200px;
    transition: all 3s ease-in-out;
}


h5:hover {
    color: rgb(255, 255, 255);
    font-size: 20px;
    left: 200px;
     transform: translateY(30px);
}



h6 {
    color: rgba(3, 3, 30, 0.418);
    font-size: 20px;
    left: 200px;
    transition: all 3s ease-in-out;
}


h6:hover {
    color: rgb(255, 255, 255);
    font-size: 20px;
    left: 200px;
     transform: translateY(-30px);
}




p {
    color: rgba(3, 3, 30, 0.418);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        word-spacing: 120%;
}


p:hover {
    color: white;
    transition: all 0.5s ease-in-out;

}

/*trivial*/

.trivial {
        display: inline-block;
        position: relative;
        cursor: pointer;
        font-size: 20px;
        transition: all 3s ease-in-out;

}


.trivial:hover {
        font-size: 10px;
        transition: all 3s ease-in-out;
}



/*3rd line falling apart*/

.falling {
        transition: all 3s ease-in-out;
}


.falling:hover {
        transition: all 3s ease-in-out;
}

.life {
        display: inline-block;
        position: relative;
        cursor: pointer;
        transition: all 5s ease-in-out;
        opacity: 1;
}


.life:hover {
        transform: translateY(300px) rotate(45deg);
        transition: all 5s ease-in-out;
        opacity: 0;
}



.apart {
        transition: all 3s ease-in-out;
}

.apart:hover {
        transition: all 4s ease-in-out;

}
/*3rd line falling apart*/

.love {
    display: inline-block;
    transition: all 3s ease-in-out;

}

.love:hover {
    color: white;
    size-adjust: 120%;
    cursor: pointer;
    text-shadow: 0 0 20px #fff;
    transition: all 1s ease-in;

}


/*disappear line*/

.I {
    display: inline-block;
    opacity: 1;
    transition: all 3s ease-in-out;


}

.I:hover {
    color: white;
    size-adjust: 120%;
    cursor: pointer;
    transition: all 1s ease-in;
    opacity: 0;
            transform: translateY(-30px);
    

}